@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: 'Roboto', sans-serif;
}

.heading, .subheading {
  margin-left: 20px;
}

.form-container {
  display: flex;
}

.form-element {
  display: flex;
  width: 250px;
  justify-content: space-between;
  padding: 10px 20px;
}

.draw {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.dot {
  height: 5px;
  width: 5px;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  background-color: black;
}

.hidden {
  display: none;
}

.solution {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin: 0 20px;
}

.loading {
  margin-left: 20px;
  animation-name: loading;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes loading {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}
